<div class="container mt-5">
    <div class="row">
        <div class="col">

            <div class="imagen-centrada">
                <img class="mb-4" src="../assets/imagenes/jpeg_css.jpg" alt="cssisawesome">
            </div>
        </div>
        <div class="col">
            <div class="imagen-centrada">
                <video loop controls>
                    <source src="../assets/video/mp4_moePoligrafo.mp4" type="video/mp4">
                    <source src="../video/webm_moePoligrafo.webm" type="video/webm" codecs="vp8, vorbis">
                </video>
            </div>
        </div>
    </div>
</div>
<audio class="mt-5" autoplay loop controls>
    <source src="../assets/audio/mp3_dinero.mp3" type="audio/mp3" codecs="mp3">
    <source src="../assets/audio/wav_dinero.mp3" type="audio/wav" codecs="LPCM">
    <source src="../assets/audio/ogg_dinero.ogg" type="audio/ogg" codecs="vorbis">
</audio>
<p class="cc mt-3" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><span
        property="dct:title">Página del usuario</span> by <span property="cc:attributionName">Jose Juan Navarro
        Giner</span> is marked with <a href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1"
        target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0<img
            style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
            src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img
            style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
            src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1"></a>
</p>